[submodule "advprofiler"]
	path = advprofiler
	url = https://git.bananach.space/advprofiler.git
[submodule "advtrains"]
	path = advtrains
	url = https://github.com/Montandalar/advtrains.git
[submodule "advtrains_freight_train"]
	path = advtrains_freight_train
	url = https://github.com/h-v-smacker/advtrains_freight_train
[submodule "advtrains_platform"]
	path = advtrains_platform
	url = https://github.com/Montandalar/advtrains_platform
[submodule "animalworld_kangaroo"]
	path = animalworld_kangaroo
	url = https://github.com/Montandalar/animalworld_kangaroo
[submodule "apartment"]
	path = apartment
	url = https://git.bananach.space/apartment.git
[submodule "areas"]
	path = areas
	url = https://github.com/ShadowNinja/areas
[submodule "atm"]
	path = atm
	url = https://git.bananach.space/atm.git
[submodule "australia"]
	path = australia
	url = https://github.com/Aussieforks/australia
[submodule "auth_export"]
	path = auth_export
	url = https://git.bananach.space/auth_export.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay
[submodule "banish"]
	path = banish
	url = https://git.bananach.space/banish.git
[submodule "basic_trains"]
	path = basic_trains
	url = https://github.com/Montandalar/basic_trains.git
[submodule "beerchat"]
	path = beerchat
	url = https://git.bananach.space/beerchat.git
[submodule "bike"]
	path = bike
	url = https://gitlab.com/h2mm/bike
[submodule "billboard"]
	path = billboard
	url = https://git.bananach.space/billboard.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://gitlab.com/Felfa/bonemeal
[submodule "bridger"]
	path = bridger
	url = https://github.com/v-rob/bridger
[submodule "canned_food"]
	path = canned_food
	url = https://github.com/h-v-smacker/canned_food
[submodule "c_doors"]
	path = c_doors
	url = https://github.com/h-v-smacker/c_doors
[submodule "config"]
	path = config
	url = https://bitbucket.org/sorcerykid/config.git
[submodule "console"]
	path = console
	url = https://github.com/Montandalar/console_sorcerykid.git
[submodule "cottages"]
	path = cottages
	url = https://github.com/gpcf/cottages
[submodule "craftguide"]
	path = craftguide
	url = https://github.com/minetest-mods/craftguide
[submodule "currency"]
	path = currency
	url = https://github.com/Aussieforks/currency
[submodule "digilines"]
	path = digilines
	url = https://github.com/Jeija/minetest-mod-digilines.git
[submodule "digtron"]
	path = digtron
	url = https://github.com/h-v-smacker/digtron
[submodule "display_modpack"]
	path = display_modpack
	url = https://git.bananach.space/display_modpack.git
[submodule "dlxtrains_modpack"]
	path = dlxtrains_modpack
	url = https://github.com/Marnack/DlxTrains_modpack
[submodule "drawers"]
	path = drawers
	url = http://git.linux-forks.de/drawers/
[submodule "dumpnodes"]
	path = dumpnodes
	url = https://github.com/Montandalar/dumpnodes.git
[submodule "easteregg"]
	path = easteregg
	url = https://gitlab.com/h2mm/easteregg
[submodule "ehlphabet"]
	path = ehlphabet
	url = https://git.bananach.space/ehlphabet.git/
[submodule "elevator"]
	path = elevator
	url = https://git.bananach.space/elevator.git/
[submodule "engrave"]
	path = engrave
	url = https://github.com/orwell96/engrave
[submodule "ethereal"]
	path = ethereal
	url = https://gitlab.com/Felfa/ethereal
[submodule "factory_bridges"]
	path = factory_bridges
	url = https://github.com/pandorabox-io/factory_bridges
[submodule "farebox"]
	path = farebox
	url = http://git.linux-forks.de/farebox/
[submodule "farming"]
	path = farming
	url = https://gitlab.com/Felfa/farming
[submodule "feedlot"]
	path = feedlot
	url = https://git.bananach.space/feedlot.git
[submodule "fireworkz"]
	path = fireworkz
	url = https://git.bananach.space/fireworkz.git
[submodule "formspecs"]
	path = formspecs
	url = https://bitbucket.org/sorcerykid/formspecs.git
[submodule "freezer"]
	path = freezer
	url = http://git.linux-forks.de/freezer/
[submodule "gates"]
	path = gates
	url = https://bitbucket.org/kingarthursteam/gates.git
[submodule "glass_stained"]
	path = glass_stained
	url = https://git.bananach.space/glass_stained.git
[submodule "glider"]
	path = glider
	url = https://github.com/Maverick2797/glider.git
[submodule "hangglider"]
	path = hangglider
	url = https://git.bananach.space/hangglider.git
[submodule "hiking"]
	path = hiking
	url = https://gitlab.com/h2mm/hiking
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib/
[submodule "itemframes"]
	path = itemframes
	url = https://git.bananach.space/itemframes.git/
[submodule "jre_e231"]
	path = jre_e231
	url = https://git.bananach.space/JR_E231series_modpack.git
[submodule "kebab"]
	path = kebab
	url = https://github.com/Montandalar/gpcf_kebab.git
[submodule "lag_warning"]
	path = lag_warning
	url = https://github.com/Montandalar/lag_warning.git
[submodule "ldm32"]
	path = ldm32
	url = https://github.com/laza83/ldm32
[submodule "linetrack"]
	path = linetrack
	url = https://gitlab.com/Hume2/linetrack.git
[submodule "lrfurn"]
	path = lrfurn
	url = https://github.com/thefamilygrog66/lrfurn
[submodule "mail"]
	path = mail
	url = https://cheapiesystems.com/git/mail/
[submodule "mailbox"]
	path = mailbox
	url = https://git.bananach.space/mailbox.git
[submodule "mapfix"]
	path = mapfix
	url = https://github.com/minetest-mods/mapfix.git
[submodule "markers"]
	path = markers
	url = https://github.com/Montandalar/markers_gpcf.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mesecons_ratelimiter"]
	path = mesecons_ratelimiter
	url = https://github.com/thomasrudin-mt/mesecons_ratelimiter
[submodule "minetest_errata"]
	path = minetest_errata
	url = https://github.com/Montandalar/minetest_errata
[submodule "minetest_hbhunger"]
	path = minetest_hbhunger
	url = http://repo.or.cz/minetest_hbhunger.git
[submodule "minetest_hudbars"]
	path = minetest_hudbars
	url = http://repo.or.cz/minetest_hudbars.git
[submodule "minetest_worldedit"]
	path = minetest_worldedit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo
[submodule "mobs_water"]
	path = mobs_water
	url = https://github.com/R-0ne/mobs_water
[submodule "moreblocks"]
	path = moreblocks
	url = https://git.bananach.space/moreblocks.git/
[submodule "morelights"]
	path = morelights
	url = https://github.com/h-v-smacker/morelights
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "moretrains"]
	path = moretrains
	url = https://notabug.org/gpcf/minetest-moretrains
[submodule "my_arcade"]
	path = my_arcade
	url = https://github.com/Ferk/myArcade/
[submodule "mymillwork"]
	path = mymillwork
	url = https://github.com/laza83/mymillwork
[submodule "pathv7"]
	path = pathv7
	url = https://github.com/paramat/pathv7
[submodule "pipeworks"]
	path = pipeworks
	url = https://github.com/Montandalar/pipeworks/
[submodule "pkarcs"]
	path = pkarcs
	url = https://github.com/h-v-smacker/pkarcs
[submodule "places"]
	path = places
	url = https://github.com/Montandalar/places.git
[submodule "poshud"]
	path = poshud
	url = https://git.bananach.space/poshud.git
[submodule "pvp_areas"]
	path = pvp_areas
	url = https://github.com/taikedz/everamzah-pvp_areas
[submodule "railroad_paraphernalia"]
	path = railroad_paraphernalia
	url = https://github.com/h-v-smacker/railroad_paraphernalia
[submodule "realestate"]
	path = realestate
	url = https://github.com/Montandalar/realestate.git
[submodule "si_frames"]
	path = si_frames
	url = https://github.com/h-v-smacker/si_frames/
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/Montandalar/signs_lib_gpcf.git
[submodule "skinsdb"]
	path = skinsdb
	url = https://github.com/minetest-mods/skinsdb
[submodule "smartshop"]
	path = smartshop
	url = https://git.bananach.space/smartshop.git/
[submodule "steel"]
	path = steel
	url = https://github.com/mt-mods/steel
[submodule "technic"]
	path = technic
	url = https://github.com/h-v-smacker/technic/
[submodule "teleport_potion"]
	path = teleport_potion
	url = https://notabug.org/TenPlus1/teleport_potion
[submodule "textline"]
	path = textline
	url = https://github.com/gbl08ma/textline
[submodule "tfl_s7_stock"]
	path = tfl_s7_stock
	url = https://github.com/Mainote/TfL_S7stock_modpack/
[submodule "timekeeper"]
	path = timekeeper
	url = https://github.com/Montandalar/timekeeper.git
[submodule "tnt"]
	path = tnt
	url = https://github.com/Montandalar/tnt
[submodule "towercrane"]
	path = towercrane
	url = https://github.com/Montandalar/towercrane
[submodule "trainblocks"]
	path = trainblocks
	url = https://github.com/maxxmodding/trainblocks_bc
[submodule "trash_can"]
	path = trash_can
	url = https://github.com/minetest-mods/trash_can.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "walkway"]
	path = walkway
	url = https://git.bananach.space/walkway.git/
[submodule "wine"]
	path = wine
	url = https://gitlab.com/Felfa/wine
[submodule "xban2"]
	path = xban2
	url = http://git.bananach.space/xban2.git/
